<!DOCTYPE html>
<html>
<head>
    <style>
body {background-color: sky-blue;}
h1   {color: blue;}
p    {color: red;}

div{
 text-align: center;
 }
 </style>

    <title>Upload CSV</title>
</head>

<body>


<div>

 <h1>You are welcome</h1>
 <p>
     <marquee behaviour="alternate">I hope you have an enjoyable experience</marquee>
 </p>
 <img src="http://www.naturalprogramming.com/images/supernova_remnant.jpg">
    <h1>Upload your dataset (CSV format please)</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <input type="submit" value="Upload">
    </form>
</div>
</body>
</html>